body {
    margin: 0px;
    padding-top: 0px;
    background-color: rgb(250, 248, 242);
}

header {
    display: grid;
    grid-template-columns: 400px 600px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border: 1px solid white;
    background-color: white;
    box-shadow: 5px 0px 15px 3px grey;
    width: 100%;
}

header div img {
    width: 250px;
    position: relative;
    left: 90px;
    top: 3px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: relative;
    left: 500px;
    top: 20px;
}

header ul li {
    list-style: none;
    font-size: 18px;
}

header ul li a {
    text-decoration: none;
    color: black;
}

.carousel-item {
    height: 400px;
}

.carousel-item img {

    height: 80%;
    object-fit: cover;
    position: relative;
    left: 850px;
    top: 100px;
}

.text {
    position: absolute;
    bottom: 20%;
    left: 10%;
    color: black;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
}

.text a {
    color: gray;
    text-decoration: none;
}